
@{
    ViewBag.Title = "Uploads";
    Layout = "~/Views/Shared/_layoutNew.cshtml";
}


<div class="show-top-grids">
    <div class="main-grids news-main-grids">
        <div class="recommended-info">
            <h3>Select a category to upload</h3>
            <p>
                <a href="/Home/upload" class="btn-link">Upload Videos</a><br />
                <a href="/Article/uploadArticleView" class="btn-link" >Upload An Article</a>
            </p>
            </div>
        </div>
</div>